html
  head
    title A2N疫情实时平台
    meta(charset='utf-8')
    meta(name='renderer', content='webkit')
    meta(name='viewport', content='width=device-width,initial-scale=1.0 user-scalable=no')
    link(rel='shortcut icon', type='image/png', href='favicon_64.ico')

    script(src='https://static.vuevideo.net/config/roxasora/a2n/jquery.min.js')
    script(src='https://static.vuevideo.net/config/roxasora/a2n/js.cookie.min.js')

    //百度地图 sdk
    script(type='text/javascript', src='http://api.map.baidu.com/api?v=2.0&ak=GIYd9jaUlH7Mrda5HnIdeH65dBajyuVd')

    script(src='https://static.vuevideo.net/config/roxasora/a2n/bootstrap.min.js')
    script(type='text/javascript', src='js/testMap.js?21312')
    script(type='text/javascript', src='js/cityGeo.js?21312')

    script(type='text/javascript', src='https://static.vuevideo.net/config/roxasora/a2n/echarts.min.js')
    script(type='text/javascript', src='https://static.vuevideo.net/config/roxasora/a2n/bmap.js')
    script(type='text/javascript', src='https://static.vuevideo.net/config/roxasora/a2n/html2canvas.min.js')

    script(type='text/javascript', src='js/index.js?21312')

    link(rel='stylesheet', href='https://static.vuevideo.net/config/roxasora/a2n/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/index.css')
    //icon font
    link(rel="stylesheet", href="https:////at.alicdn.com/t/font_1623822_o33e2yoab6i.css")

    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-78069116-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-78069116-2');


    script.
      var _hmt = _hmt || [];
      (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?dfaf7cae010934e9d357a98c42abe9f0";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
      })();

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.ml-md-4.navbar-brand(href="https://shimo.im/docs/Y83DY3CY8JH8wkt8")
          img.logo(src="https://static.vuevideo.net/config/roxasora/a2n/images/a2nlogo.png", alt="") 
          //- .a2n A2N
          | 实时疫情平台
        button.ml-auto.btn.btn-sm.btn-light.dropdown-toggle#regionBtn(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation') 全国

        select#select(name='select')
          option(value='china') 全国
          option(value='wuhan') 武汉
          option(value='sars') SARS
        .clearFloat

      .container2
        nav#tabNav
          li.active#chartTabBtn
            a 实时疫情
          li#a2nTabBtn
            a 疫情资料库
          li#newsTabBtn
            a 全国新闻
          li#toolsTabBtn
            a 实用网站大全
          .clearFloat
          .gradient
    
    .header.hidden

    .myPage#chartPage
      #all
        .watermark
        #text
          .textItem
            span.number#confirmed -
            span.name 确诊
          .textItem
            span.number#suspected -
            span.name 疑似
          .textItem
            span.number#dead -
            span.name 死亡
          .textItem
            span.number#cured -
            span.name 治愈
          .clearFloat
        #tip 点击折线图查看单日数据，拖动进度条查看早期数据
        #main

      .thirdContent.cardDiv
        .card.text-white.bg-dark.mb-3
          .card-header#thirdContentCardHeader
            i.iconfont.icon-ditu.text-warning
            span#thirdContentHeaderTitle 全国疫情分布地图
            a.btn.btn-sm.btn-light#mapPageLink(href="/map") 全屏查看
            
          .card-body#thirdCollapseDiv
            #mapChart
              //- iframe#mapIFrame(src='https://www.lovestu.com/api/project/cnmapyinqing/obj.php', height='500', frameborder='no', border='0', width='100%')  

      .secondContent.cardDiv
        .card.text-white.bg-dark.mb-3
          .card-header#secondContentCardHeader(data-toggle='collapse', href='#collapseExample', role='button', aria-expanded='false', aria-controls='collapseExample')
            .dropdown-toggle
              i.iconfont.icon-caidan.text-warning
              span#secondContentHeaderTitle|各省确诊人数 
            #cardSubtitle 各省详情可在本页右上角切换地区
            
          .card-body#collapseExample.collapse.show
            #secondChart  
            .watermark

    .myPage#a2nPage
      .alert.alert-primary(role='alert')
        a.alert-link(href='https://shimo.im/docs/PJ8QYXyqcdjJ9P9h' target='_blank') 
          i.iconfont.icon-bulb
          | A2N 最全疫情科普资料
      .alert.alert-secondary(role='alert')
        a.alert-link(href='https://shimo.im/docs/tRVxVDwdcrwx88xX' target='_blank') 
          icon-bulb
          i.iconfont.icon-error
          |A2N 辟谣汇总
      .alert.alert-warning(role='alert')
        a.alert-link(href='https://shimo.im/sheets/wKd63jtYxDDhHjq3/MODOC/' target='_blank') 
          i.iconfont.icon-car
          |A2N 国内各省市物资渠道汇总
      .alert.alert-danger(role='alert')
        a.alert-link(href='https://shimo.im/docs/QqRwdyKDTyWKyrXG/read' target='_blank') 
          i.iconfont.icon-home
          |湖北籍旅客外地可住宿信息合集
      .alert.alert-success(role='alert')
        a.alert-link(href='https://shimo.im/docs/GJXPXVRktQdPxRJr' target='_blank') 
          i.iconfont.icon-file-text
          |A2N 论文资料翻译区

    .myPage#newsPage
      .pagePlaceholder
    .myPage#toolsPage
      .alert.alert-primary(role='alert')
        a.alert-link(href='https://news.qq.com/zt2020/page/feiyan.htm') 腾讯新闻实时疫情
      .alert.alert-secondary(role='alert')
        a.alert-link(href='https://m.yangshipin.cn/static/2020/c0126.html') 央视疫情24小时
      .alert.alert-danger(role='alert')
        a.alert-link(href='https://h5.peopleapp.com/txcx/index.html') 新型肺炎确诊患者相同行程查询工具
      .alert.alert-success(role='alert')
        a.alert-link(href='https://vp.fact.qq.com/home') 实时辟谣·新型冠状病毒肺炎
      .alert.alert-warning(role='alert')
        a.alert-link(href='https://promo.guahao.com/topic/pneumonia') ！微医在线问诊 ！
      .alert.alert-primary(role='alert')
        a.alert-link(href='https://shimo.im/docs/QqRwdyKDTyWKyrXG/read') 湖北籍旅客外地可住宿信息合集
      //- .alert.alert-warning(role='alert')
      //-   a.alert-link(href='#') an example link
      //- .alert.alert-info(role='alert')
      //-   a.alert-link(href='#') an example link
      //- .alert.alert-light(role='alert')
      //-   a.alert-link(href='#') an example link
      //- .alert.alert-dark(role='alert')
      //-   a.alert-link(href='#') an example link
    #loadingContainer
      .spinner-border.text-primary(role='status')
        span.sr-only Loading...


    .footer
      | 本网页由 
      a.blockLink(href="https://shimo.im/docs/Y83DY3CY8JH8wkt8")
        img(src="images/a2nlogo.png", alt="")
      | 志愿者开发
      br
      | 页面数据来源·开源支持：
      a(href="https://3g.dxy.cn/newh5/view/pneumonia") 丁香医生
      a(href="https://news.qq.com/zt2020/page/feiyan.htm") 腾讯新闻
      a(href="https://github.com/BlankerL/DXY-2019-nCoV-Crawler") BlankerL
      .f2 仅用于抗击疫情 严禁用于商业用途
      .f2 Copyright © A2N·青年李大猫 (851733805@qq.com)
      a(href="https://github.com/Roxasora/a2n_ncov_chart") Github 项目地址
