html
  head
    title A2N疫情实时趋势
    meta(charset='utf-8')
    meta(name='renderer', content='webkit')
    meta(name='viewport', content='width=device-width,initial-scale=1.0 user-scalable=no')
    link(rel='shortcut icon', type='image/png', href='favicon_64.ico')
    // <script type="text/javascript" src="js/jq.1.10.2.js"></script>
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
    script(type='text/javascript', src='js/echarts.min.js?')
    script(type='text/javascript', src='js/nConData_wuhan.js?21312')
    script(type='text/javascript', src='js/nConData.js?21312')
    script(type='text/javascript', src='js/sars_china.js?21312')
    script(type='text/javascript', src='js/html2canvas.min.js?')

    script(src='https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js')

    script(type='text/javascript', src='js/index.js?21312')
    link(rel='stylesheet', type='text/css', href='css/index.css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-78685792-2', 'auto');
      ga('send', 'pageview');
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="https://shimo.im/docs/Y83DY3CY8JH8wkt8")
        img.logo(src="images/a2nlogo.png", alt="") 
        | 实时疫情·新闻·资讯
      button.btn.btn-light.dropdown-toggle#regionBtn(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation') 全国

      select#select(name='select')
        option(value='china') 全国
        option(value='wuhan') 武汉
        option(value='sars') SARS

      nav.d-flex.justify-content-center#tabNav(aria-label='Page navigation example')
        ul.pagination
          li.page-item.active#chartTabBtn
            a.page-link(href='#') 实时疫情
          li.page-item#newsTabBtn
            a.page-link(href='#') 全国新闻
          li.page-item#toolsTabBtn
            a.page-link(href='#') 实用网站大全
    
    .header.hidden

    .myPage#chartPage
      #all
        .watermark
        #text
          div#regionName 全国
          |       确诊&nbsp;&nbsp;
          span#confirmed
          |&nbsp;&nbsp;
          span#confirmed_suffix 
          |&nbsp;&nbsp;
          span#suspected
          br
          | 死亡&nbsp;&nbsp;
          span#dead
          |&nbsp;&nbsp;治愈&nbsp;&nbsp;
          span#cured
          .clearFloat
        #tip 点击折线图查看单日数据，拖动进度条查看早期数据
        #main

      .secondContent.cardDiv
        .card.text-white.bg-dark.mb-3
          .card-header#secondContentCardHeader(data-toggle='collapse', href='#collapseExample', role='button', aria-expanded='false', aria-controls='collapseExample')
            .dropdown-toggle
              span#secondContentHeaderTitle|各省确诊人数 
            #cardSubtitle 各省详情可在本页右上角切换地区
            
          .card-body#collapseExample.collapse.show
            #secondChart  
      .thirdContent.cardDiv
        .card.text-white.bg-secondary.mb-3
          .card-header#thirdContentCardHeader(data-toggle='collapse', href='#thirdCollapseDiv', role='button', aria-expanded='false', aria-controls='thirdCollapseDiv')
            .dropdown-toggle
              span#secondContentHeaderTitle 全国疫情地图
            
          .card-body#thirdCollapseDiv.collapse.show
            #mapContainer
              iframe#mapIFrame(src='https://www.lovestu.com/api/project/cnmapyinqing/obj.php', height='500', frameborder='no', border='0', width='100%')  
    .myPage#newsPage
      .pagePlaceholder
    .myPage#toolsPage
      .alert.alert-primary(role='alert')
        a.alert-link(href='https://news.qq.com/zt2020/page/feiyan.htm') 腾讯新闻实时疫情
      .alert.alert-secondary(role='alert')
        a.alert-link(href='https://m.yangshipin.cn/static/2020/c0126.html') 央视疫情24小时
      .alert.alert-danger(role='alert')
        a.alert-link(href='http://2019ncov.nosugartech.com/') 新型肺炎确诊患者相同行程查询工具
      .alert.alert-success(role='alert')
        a.alert-link(href='https://vp.fact.qq.com/home') 腾讯较真平台·新型冠状病毒肺炎实时辟谣
      //- .alert.alert-warning(role='alert')
      //-   a.alert-link(href='#') an example link
      //- .alert.alert-info(role='alert')
      //-   a.alert-link(href='#') an example link
      //- .alert.alert-light(role='alert')
      //-   a.alert-link(href='#') an example link
      //- .alert.alert-dark(role='alert')
      //-   a.alert-link(href='#') an example link
    #loadingContainer
      .spinner-border.text-primary(role='status')
        span.sr-only Loading...


    .footer
      | 本网页由 A2N 志愿者开发
      br
      | 页面数据来源于：
      a(href="https://3g.dxy.cn/newh5/view/pneumonia") 丁香医生
      a(href="https://news.qq.com/zt2020/page/feiyan.htm") 腾讯新闻
      a(href="https://github.com/BlankerL/DXY-2019-nCoV-Crawler") BlankerL
      .f2 仅用于抗击疫情 严禁用于商业用途
      .f2 Copyright © A2N·青年李大猫
