html
  head
    title A2N全国疫情散布图
    meta(charset='utf-8')
    meta(name='renderer', content='webkit')
    meta(name='viewport', content='width=device-width,initial-scale=1.0 user-scalable=no')
    link(rel='shortcut icon', type='image/png', href='favicon_64.ico')
    // <script type="text/javascript" src="js/jq.1.10.2.js"></script>

    script(src='https://static.vuevideo.net/config/roxasora/a2n/jquery.min.js')
    script(src='https://static.vuevideo.net/config/roxasora/a2n/js.cookie.min.js')

    //百度地图 sdk
    script(type='text/javascript', src='http://api.map.baidu.com/api?v=2.0&ak=GIYd9jaUlH7Mrda5HnIdeH65dBajyuVd')

    script(src='https://static.vuevideo.net/config/roxasora/a2n/bootstrap.min.js')
    script(type='text/javascript', src='js/testMap2.js?21312')
    script(type='text/javascript', src='js/cityGeo.js?21312')

    script(type='text/javascript', src='https://static.vuevideo.net/config/roxasora/a2n/echarts.min.js')
    script(type='text/javascript', src='https://static.vuevideo.net/config/roxasora/a2n/bmap.js')
    script(type='text/javascript', src='https://static.vuevideo.net/config/roxasora/a2n/html2canvas.min.js')

    script(type='text/javascript', src='js/map.js?21312')

    link(rel='stylesheet', href='https://static.vuevideo.net/config/roxasora/a2n/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/map.css')
    
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-78069116-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-78069116-2');


    script.
      var _hmt = _hmt || [];
      (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?dfaf7cae010934e9d357a98c42abe9f0";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
      })();
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.ml-md-4.navbar-brand(href="/")
          img.logo(src="images/a2nlogo.png", alt="") 
          | 全国疫情分布
        a.btn.btn-primary#regionBtn(href="/") 更多疫情·资讯 

    #mapChart

    #tip
          

    #loadingContainer
      .spinner-border.text-primary(role='status')
        span.sr-only Loading...

    .footer
      .footerContent
        | 本网页由 
        a.blockLink(href="https://shimo.im/docs/Y83DY3CY8JH8wkt8")
          img(src="https://static.vuevideo.net/config/roxasora/a2n/images/a2nlogo.png", alt="")
        | 志愿者开发
        br
        | 页面数据来源·开源支持：
        a(href="https://3g.dxy.cn/newh5/view/pneumonia") 丁香医生
        a(href="https://news.qq.com/zt2020/page/feiyan.htm") 腾讯新闻
        a(href="https://github.com/BlankerL/DXY-2019-nCoV-Crawler") BlankerL
        .f2 仅用于抗击疫情 严禁用于商业用途
        .f2 Copyright © A2N·青年李大猫 (851733805@qq.com)
        a(href="https://github.com/Roxasora/a2n_ncov_chart") Github 项目地址
